.cabecalho {
  display: flex;
  align-items: center;
  grid-area: cabecalho;
  padding: 0 2rem;
}

.conteudo {
  grid-area: conteudo;
  padding: 0 2rem;
}

.rodape {
  grid-area: rodape;
  background: #fdfdfd;
  color: #333333;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
}

.destaques {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: calc(100vh - 50px);
}
.destaques .caixa {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
.destaques__titulo {
  background: rgba(0, 0, 0, 0.5);
  color: #fdfdfd;
  padding: 0.6rem;
  text-align: center;
  width: 100%;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}
.destaques__titulo:hover {
  color: #333333;
  background: #fdfdfd;
  transition: ease 0.5s;
  cursor: pointer;
}
.destaques__principal {
  background-image: url(../assets/img/fortnite.jpg);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.destaques__principal:hover {
  cursor: pointer;
}
.destaques__secundario:nth-child(2) {
  background-image: url(../assets/img/pubg.jpg);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
.destaques__secundario:nth-child(2):hover {
  cursor: pointer;
}
.destaques__secundario:nth-child(3) {
  background-image: url(../assets/img/slack.png);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}
.destaques__secundario:nth-child(3):hover {
  cursor: pointer;
}
.destaques__secundario:nth-child(4) {
  background-image: url(../assets/img/whatsapp.png);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}
.destaques__secundario:nth-child(4):hover {
  cursor: pointer;
}
.destaques__secundario:nth-child(5) {
  background-image: url(../assets/img/cs-go.jpg);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
.destaques__secundario:nth-child(5):hover {
  cursor: pointer;
}
.destaques__categorias {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
.destaques__categorias__lista {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}
.destaques__categorias__item {
  display: flex;
  align-items: center;
  background: #fdfdfd;
  border-left: 5px solid transparent;
  color: #333333;
  padding: 1rem;
  width: 50%;
}
.destaques__categorias__item:hover {
  cursor: pointer;
  background: #333333;
  transition: ease 0.4s;
  font-weight: bold;
  color: #fdfdfd;
}
.destaques__categorias__item:nth-child(1) {
  border-top-left-radius: 10px;
}
.destaques__categorias__item:nth-child(2) {
  border-top-right-radius: 10px;
}
.destaques__categorias__item:nth-child(3) {
  border-end-start-radius: 10px;
}
.destaques__categorias__item:nth-child(4) {
  border-end-end-radius: 10px;
}
.destaques__categorias__link {
  color: inherit;
}

.populares {
  padding: 3rem 0;
}
.populares__cabecalho {
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
}
.populares__titulo {
  font-weight: 500;
}
.populares__icone {
  margin-right: 0.25rem;
}
.populares__botao {
  background: transparent;
  border: none;
  color: #333333;
}
.populares__botao:hover {
  color: crimson;
}
.populares__conteudo {
  display: flex;
  flex-wrap: wrap;
  grid-area: conteudo;
  padding: 1rem 0;
}
.populares__card {
  background: #fdfdfd;
  display: grid;
  grid-template-areas: "card-imagem" "card-corpo";
  grid-template-columns: 100%;
  grid-template-rows: 173px auto;
  margin-right: 1rem;
  width: calc(20% - 1rem);
}
.populares__card:last-child {
  margin-right: 0;
}
.populares__card:nth-child(1):hover {
  background: crimson;
  color: #fdfdfd;
  cursor: pointer;
}
.populares__card:nth-child(2):hover {
  background: #25D366;
  color: #fdfdfd;
  cursor: pointer;
}
.populares__card:nth-child(3):hover {
  background: #0088cc;
  color: #fdfdfd;
  cursor: pointer;
}
.populares__card:nth-child(4):hover {
  background: #bc43fa;
  color: #fdfdfd;
  cursor: pointer;
}
.populares__card:nth-child(5):hover {
  background: #ee951c;
  color: #fdfdfd;
  cursor: pointer;
}
.populares__card__imagem {
  grid-area: card-imagem;
  height: 100%;
  width: 100%;
}
.populares__card__corpo {
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-areas: "card-cabecalho" "card-conteudo";
  grid-area: card-corpo;
  padding: 0.75rem;
  grid-template-rows: 50px auto;
}
.populares__card__titulo {
  font-size: 1.5rem;
}
.populares__card__data {
  font-size: 0.9rem;
}
.populares__card__descricao {
  text-align: justify;
  line-height: 1.5;
  margin: 1rem 0;
}

.menu__link {
  color: #333333;
  padding: 0.5rem 1rem;
}
.menu__link:hover {
  border-bottom: 4px solid crimson;
  transition: ease 0.1s;
}

.app {
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas: "cabecalho" "conteudo" "rodape";
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto;
}

/*# sourceMappingURL=style.css.map */
